.footer {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 100px 5.2vw 144px;
  background: $dark-gradient;
  color: $white;

  @include mq(1024) {
    padding: 80px 5.2vw 46px;
  }

  ;

  @include mq(600) {
    padding: 100px 20px 36px;
  }

  ;

  // .footer__discount-block
  &__discount-block {
    display: flex;
    flex-direction: column;
    align-items: center;
    max-width: 1024px;
    margin-bottom: 60px;
    width: 100%;
  }

  // .footer__title
  &__title {
    font-family: 'General Sans';
    font-weight: 500;
    font-size: 128px;
    line-height: 173px;
    margin-bottom: 40px;

    @include mq(1024) {
      font-size: min(96px, 12.5vw);
      line-height: min(130px, 16.92vw);
      margin-bottom: 20px;
    }

    ;
  }

  // .footer__text
  &__text {
    max-width: 670px;
    font-family: 'General Sans';
    font-weight: 400;
    font-size: 36px;
    line-height: 49px;
    text-align: center;
    margin-bottom: 10px;

    @include mq(1024) {
      font-size: 24px;
      line-height: 36px;
    }

    ;

    @include mq(768) {
      margin-bottom: 30px;
    }

    ;
  }

  // .footer__submit-block
  &__submit-block {
    display: flex;
    align-items: center;
    width: 100%;

    @include mq(768) {
      flex-direction: column;
      align-items: flex-start;
    }

    ;
  }

  // .footer__input
  &__input {
    flex: 1 1 100%;
    padding: 25px 40px;
    font-family: 'General Sans';
    font-size: 36px;
    line-height: 49px;
    margin-right: 40px;

    @include mq(768) {
      margin-right: 0;
      margin-bottom: 30px;
      width: 100%;
    }

    ;
  }

  // .footer__submit-button
  &__submit-button {
    flex: 1 0 auto;
  }

  // .footer__features-block
  &__features-block {
    max-width: 1024px;
    width: 100%;

    @include mq(600) {
      display: none;
    }

    ;
  }

  // .footer__list-title
  &__list-title {
    font-family: 'General Sans';
    font-weight: 500;
    font-size: 24px;
    line-height: 32px;
    margin-bottom: 35px;
  }

  // .footer__list-block
  &__list-block {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(3, 1fr);
    gap: 44px 0;
  }

  // .footer__list-item
  &__list-item {
    font-family: 'General Sans';
    font-size: 20px;
    line-height: 27px;
    max-width: 240px;
    color: rgba($color: $white, $alpha: 0.5);

    display: flex;
    align-items: center;
  }

  // .footer__list-img
  &__list-img {
    margin-right: 20px;
  }

  // .footer__bottom-block
  &__bottom-block {
    margin-top: 350px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    position: relative;

    @include mq(1024) {
      margin-top: 224px;
      flex-direction: column;
      align-items: flex-start;
    }

    ;

    @include mq(600) {
      margin-top: 150px;
    }

    ;
  }

  // .footer__copyright
  &__copyright {
    font-family: 'General Sans';
    font-size: 24px;
    line-height: 32px;

    @include mq(1024) {
      margin-bottom: 20px;
      margin-right: 60px;
      font-size: 20px;
    }

    ;

    @include mq(600) {
      font-size: 16px;
    }

    ;
  }

  // .footer__terms-list
  &__terms-list {
    display: flex;
  }

  // .footer__terms-item
  &__terms-item {
    font-family: 'General Sans';
    font-size: 18px;
    line-height: 24px;
    opacity: 0.75;

    &.footer__privacy-policy {
      cursor: pointer;
    }

    @include mq(1024) {
      font-size: 18px;
    }

    @include mq(600) {
      font-size: 14px;
    }

    ;

    &+& {
      margin-left: 57px;
    }
  }

  // .footer__arrow
  &__arrow {
    background: transparent;
    border: 0;
    outline: 0;

    cursor: pointer;

    @include mq(1024) {
      position: absolute;
      right: 26px;
    }

    ;
  }

  // .footer__arrow-img
  &__arrow-img {
    display: block;
  }
}