.header {
  width: 100vw;
  padding: 40px 100px;
  position: fixed;
  top: 0;
  z-index: 100;
  display: flex;
  justify-content: space-between;
  align-items: center;

  @include mq(600) {
    padding: 20px;
  }

  // .header__logo
  &__logo {
    line-height: 0;
  }

  // .header__discount
  &__discount-menu {}
}

.discount-menu {
  &__open-button {
    color: $black;
    font-family: "General Sans";
    font-weight: 500;
  }

  &__content {
    z-index: 100;
    background: $white;
    position: absolute;
    top: 0;
    right: 0;
    pointer-events: none;
    display: flex;
    flex-direction: column;
    transform: translateX(100%);
    transition: transform 0.15s;
    max-width: 100%;
    max-height: 100vh;
    overflow-y: auto;
  }

  .discount-menu--active &__content {
    transform: translateX(0%);
    pointer-events: auto;
  }

  &__close-button {
    align-self: flex-end;
    margin: 40px 100px 40px;

    color: $black;
    font-family: "General Sans";
    font-weight: 500;
    @include mq(600){
      margin: 20px;
    };
  }

  &__main-block {
    padding: 0 150px 30px;
    display: flex;
    flex-direction: column;
    align-items: center;
    max-width: 944px;
    @include mq(1440){
      padding: 0 38px 25px;
      width: min(694px, 100vw);
    };
    @include mq(600){
      align-items: flex-start;
    };
  }

  &__title {
    font-family: "General Sans";
    font-weight: 500;
    font-size: 96px;
    line-height: 130px;
    margin-bottom: 40px;
    @include mq(1440){
      font-size: 64px;
      line-height: 86px;
      margin-bottom: 30px;
    };
    @include mq(600){
      font-size: 36px;
      line-height: 49px;
      margin-bottom: 10px;
    };
  }

  &__text {
    text-align: center;
    font-family: "General Sans";
    font-size: 32px;
    line-height: 48px;
    margin-bottom: 60px;
    @include mq(1440){
      font-size: 24px;
      line-height: 42px;
      margin-bottom: 30px;
      max-width: 455px;
    };
    @include mq(600){
      font-size: 18px;
      line-height: 36px;
      margin-bottom: 20px;
      text-align: left;
    };
  }

  &__input {
    font-family: "General Sans";
    align-self: stretch;
    font-size: 32px;
    line-height: 43px;
    border-radius: 6px;
    margin-bottom: 60px;
    padding: 24px 40px;
    color: $black;

    @include mq(1440){
      margin-bottom: 20px;
      width: 100%;
    };
    @include mq(600){
      margin-bottom: 30px;
      font-size: 18px;
      line-height: 24px;
      padding: 20px;
    };
  }


  &__submit-button {}
}