.header {
  width: 100vw;
  padding: 40px 100px;
  position: fixed;
  top: 0;
  z-index: 100;
  display: flex;
  justify-content: space-between;
  align-items: center;

  @include mq(600) {
    padding: 28px 20px;
  }

  ;

  // .header__logo
  &__logo {
    line-height: 0;
  }

  // .header__discount
  &__discount-menu {}
}

.discount-menu {
  &__open-button {
    color: $black;
    font-family: "General Sans";
    font-weight: 500;
  }

  &__content {
    z-index: 100;
    background: $white;
    position: absolute;
    top: 0;
    right: 0;
    pointer-events: none;
    display: flex;
    flex-direction: column;
    transform: translateX(100%);
    transition: transform 0.15s;
  }

  .discount-menu--active &__content {
    transform: translateX(0%);
    pointer-events: auto;
  }

  &__close-button {
    align-self: flex-end;
    margin: 40px 100px 40px;

    color: $black;
    font-family: "General Sans";
    font-weight: 500;
  }

  &__main-block {
    margin: 0 162px 30px;
    display: flex;
    flex-direction: column;
    align-items: center;
    max-width: 640px;
  }

  &__title {
    font-family: "General Sans";
    font-weight: 500;
    font-size: 96px;
    line-height: 130px;
    margin-bottom: 40px;
  }

  &__text {
    font-family: "General Sans";
    font-size: 32px;
    line-height: 48px;
    margin-bottom: 60px;
  }

  &__input {
    font-family: "General Sans";
    align-self: stretch;
    font-size: 32px;
    line-height: 43px;
    border: 2px solid $gold;
    border-radius: 6px;
    margin-bottom: 60px;
    padding: 24px 40px;
    color: $black;
    outline-color: rgba($color: $gold, $alpha: 0.8);

    &:focus::placeholder {
      opacity: 0;
    }
  }


  &__submit-button {}
}