.intro-get-discount {
  position: absolute;
  left: 0;
  top: 50%;
  z-index: 100;
  max-width: 780px;
  padding-left: 100px;
  margin-right: 200px;
  display: flex;
  flex-direction: column;
  transform: translate(-100%, -50%);
  transition: transform 0.3s;

  @include mq(1024){
    padding-left: 80px;
  };
  @include mq(600){
    padding-left: 20px;
  };
  
  &[active]{
    transform: translate(0%, -50%);
  }

  // .intro-get-discount__title
  &__title {
    color: $white;
    font-family: 'General Sans';
    font-weight: 500;
    font-size: min(4.6875vw, 64px);
    line-height: 135%;
    max-width: 590px;
    margin-bottom: 80px;
    @include mq(1024){
      margin-bottom: 60px;
      font-size: 48px;
      line-height: 65px;
    };
    @include mq(600){
      margin-bottom: 40px;
      font-size: 32px;
      line-height: 43px;
      max-width: 300px;
    };
  }

  // .intro-get-discount__input
  &__input {
    padding: 25px 40px;
    font-family: 'General Sans';
    font-weight: 400;
    font-size: 36px;
    line-height: 49px;
    color: $white;
    margin-bottom: 40px;
    max-width: 75vw;
    @include mq(1024){
      margin-bottom: 30px;
    };
    @include mq(600){
      margin-bottom: 20px;
      max-width: 90vw;
    };
  }

  // .intro-get-discount__button
  &__button {
  }
}