.privacy-policy,
.terms {
  background: $white;
  z-index: 100;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  overflow-y: auto;
  transform: translateY(100%);
  transition: transform 0.3s;

  &[active] {
    transform: translateY(0%);
  }

  // .privacy-policy__header
  &__header {
    display: flex;
    align-items: center;
    padding: 26px 100px;

    @include mq(900) {
      padding: 26px 50px;
    }

    ;
  }

  // .privacy-policy__back-button
  &__back-button {
    margin-right: 40px;
    background: transparent;
    border: 0;

    img {
      transform: rotate(-90deg);
      filter: invert(1);
    }
  }

  // .privacy-policy__name
  &__name {
    margin-right: auto;
    font-family: 'General Sans';
    font-size: 36px;
    font-weight: 500;
    line-height: 49px;

    @include mq(900) {
      font-size: 24px;
    }

    ;

    @include mq(600) {
      display: none;
    }

    ;
  }

  // .privacy-policy__close-button
  &__close-button {
    font-family: 'General Sans';
    font-weight: 500;
    font-size: 18px;
    line-height: 24px;
    margin-left: auto;
    color: black;
  }

  // .privacy-policy__content
  &__content {
    padding: 120px 200px 200px 300px;

    @include mq(1440) {
      padding: 60px 100px 100px 150px;
    }

    ;

    @include mq(900) {
      padding: 20px 35px 35px 50px;
    }

    ;
  }

  // .privacy-policy__section  
  &__section {
    margin-bottom: 30px;
  }

  // .privacy-policy__section-heading  
  &__section-heading {
    color: $black;
    margin-bottom: 15px;
  }

  // .privacy-policy__text  
  &__text {
    font-family: 'General Sans';
    font-size: 32px;
    line-height: 175%;
    color: rgba($color: $black, $alpha: 0.85);
    margin-bottom: 15px;

    @include mq(1440) {
      font-size: 24px;
    }

    ;

    @include mq(900) {
      font-size: 20px;
    }

    ;

    strong,
    &--strong {
      color: $black;
      font-weight: 500;
    }
  }

  // privacy-policy__list
  &__list {
    list-style-type: square;
    margin-left: 10%;
  }

  // privacy-policy__list-item
  &__list-item {}

  &__content-top {
    display: flex;
    justify-content: space-between;
    margin-bottom: 60px;

    @include mq(600) {
      flex-direction: column;
    }

    ;
  }

  // .privacy-policy__title
  &__title {
    font-family: 'General Sans';
    font-weight: 500;
    font-size: 64px;
    margin-bottom: 20px;
    line-height: 135%;

    @include mq(1440) {
      font-size: 48px;
    }

    ;

    @include mq(900) {
      font-size: 32px;
    }

    ;
  }

  &__date-modified {
    align-self: flex-end;
    margin-left: 20px;

    @include mq(600) {
      margin-left: 0;
      margin-bottom: 20px;
    }

    ;
  }

  //.privacy-policy__adress
  &__adress {}
}