.slider {
  min-height: max(100vh, 51vw);
  position: relative;
  z-index: 5;


  // .slider__container
  &__container {
    width: 100%;
    height: 100%;
  }

  // .slider__carousel
  &__carousel {}

  // .slider__slide
  &__slide {}

  // .slider__content
  &__content {
    padding: max(8.75%, 120px) 80px 0 20px;

    position: absolute;
    z-index: 1000;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    pointer-events: none;

    display: flex;
    align-items: center;
    flex-direction: column;

    @include mq(1024) {
      align-items: flex-end;
    }

    ;

    @include mq(600) {
      padding: 100px 20px;
      align-items: center;
    }

    ;
  }

  // .slider__text-block
  &__text-block {
    display: flex;
    flex-direction: column;
    align-items: center;

    @include mq(1024) {
      align-items: flex-start;
    }

    ;
  }

  // .slider__title
  &__title {
    text-align: center;
    font-weight: 500;
    font-family: "General Sans";
    font-size: 64px;
    line-height: 90px;
    color: $black;
    max-width: 750px;
    margin-bottom: 30px;

    @include mq(1024) {
      font-size: 40px;
      max-width: 480px;
      line-height: 78px;
    }

    @include mq(600) {
      font-size: 10vw;
      line-height: 135%;
      text-align: start;
    }
  }

  // .slider__pagination
  &__pagination {
    pointer-events: auto;
    display: inline-flex;
  }

  // .slider__bullet
  &__bullet {
    padding: 10px 0;
    font-size: 32px;
    font-weight: 500;
    font-family: "General Sans";
    color: $black;
    opacity: 0.5;
    transition: opacity 0.3s;

    &::after {
      transition: opacity 0.3s;
      opacity: 0;
    }

    &--active {
      opacity: 1;

      &::after {
        opacity: 1;
      }
    }

    &+& {
      margin-left: 30px;
    }

    @include mq(1024) {
      font-size: 24px;
    }

    @include mq(600) {
      font-size: 16px;
    }
  }

  //.slider__cursor
  &__cursor{
    width: 180px;
    height: 180px;
    border: 3px solid $white;
    border-radius: 1000px;
    position: absolute;
    top: 0;
    z-index: 100000;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 28px;
    transform: translate(-50%, -50%);
    pointer-events: none;
    overflow: hidden;

    font-size: 18px;
    font-weight: 500;
    font-family: "General Sans";
    color: $white;

    transition: width 0.3s, height 0.3s, 0.3s opacity 0s;


    &[unactive]{
      opacity: 0;
      width: 0;
      height: 0;
    }
  }
}


.slide {

  // .slide__image
  &__image {
    display: block;
    object-fit: cover;
    width: 100%;
    min-height: max(100vh, 51vw);
  }

  &1 img{
    object-position: 86% 50%;
  }
  &2 img{
    object-position: 80% 50%;
  }
}