$black: #101010;
$white: #FFFFFF;
$gold: #CAB387;
$green: #A0CA87;
$red: #D55F5F;
$lightgrey: #C2C2C2;
$darkgrey: #343434;
$light-gradient: linear-gradient(90deg, #FFFFFF, #0000000D);
$dark-gradient: linear-gradient(104.69deg, rgba(255, 255, 255, 0.05) 1.31%, rgba(0, 0, 0, 0) 99.85%), #0A0A0A;