.video-start {
  padding-top: 50vh;
  z-index: 11;
  background: black;

  // .video-start__content
  &__content {
    position: absolute;
    display: flex;
    flex-direction: column;
    align-items: center;
    left: 50%;
    transform: translate(-50%, -50%);
    pointer-events: none;
    transition: opacity 0.3s;
    &[unactive]{
      opacity: 0;
      pointer-events: none;
    }
    
    @include mq(600){
      margin-top: 20%;
    };
  }

  // .video-start__logo
  &__logo {
    margin-bottom: 44px;
    @include mq(1024){
      max-width: 460px;
    };
    @include mq(600){
      max-width: min(320px, 90vw);
    };
  }

  // .video-start__text-block
  &__text-block {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  // .video-start__text
  &__text {
    margin-bottom: 44px;
    font-family: 'General Sans';
    font-weight: 400;
    font-size: 32px;
    line-height: 43px;
    @include mq(1024){
      font-size: 24px;
      line-height: 32px;
    };
    @include mq(600){
      font-size: 18px;
      line-height: 24px;
    };
  }

  // .video-start__get-discount
  &__get-discount {
    font-family: 'General Sans';
    font-weight: 500;
    font-size: 18px;
    line-height: 24px;
    color: rgba($color: $white, $alpha: 0.75)
  }

  // .video-start__element
  &__element {
    position: relative;
    transform: translateY(-50%);
    width: 100%;
    height: 100vh;
    object-fit: cover;
    @include mq(1024){
      height: 110vw;
    };
  }
}

.video-main {
  z-index: 10;

  // .video-main__element
  &__element {
    height: 100vh;
    width: 100%;
    object-fit: cover;
    display: block;
    object-position: 50% 50%;
    
    // @include mq(1024){
    //   object-position: 15% 50%;
    // };
    // @include mq(600){
    //   object-position: 40% 50%;
    // };
  }
}

.video-block {
  width: 100%;
  height: 100%;
}