.video-start {
  padding-top: 50vh;
  z-index: 11;
  background: black;

  // .video-start__content-wrapper
  &__content-wrapper{
    transition: opacity 0.3s;
    &[unactive]{
      opacity: 0;
      // transform: translate(-250%, -50%);
    }
  }

  // .video-start__content
  &__content {
    position: absolute;
    display: flex;
    flex-direction: column;
    align-items: center;
    left: 50%;
    transform: translate(-50%, -50%);
    pointer-events: none;
    top: 50%;
    opacity: 1;
    z-index: 40;
    color: white;
    
    transition: 
    top 3s linear 2s;
    
    
    @include mq(600){
      margin-top: 20%;
    };
  }
  .video-start[appeared] &__content{
    pointer-events: all;
    top: 35%;
  }

  // .video-start__logo
  &__logo {
    margin-bottom: 44px;
    position: relative;

    &[filled] .video-start__svg-wrapper{
      height: 100%;
    }
    
    @include mq(1024){
      max-width: 460px;
    };
    @include mq(600){
      max-width: min(320px, 90vw);
    };
  }
  
  &__svg-wrapper{
    transition: height 0.5s;
    height: 0;
    overflow: hidden;
    position: absolute;
    z-index: 10;
    left: 0;
    bottom: 0;
    right: 0;
    
  }
  
  &__svg-outer{
    width: 100%;
    display: block;
    
    path{
      fill: none;
      stroke: white;
      stroke-width: 2px;
      stroke-linejoin: round
    }
  }
  &__svg-inner{
    position: absolute;
    bottom: 0;
    width: 100%;
    display: block;
  }

  // .video-start__text-block
  &__text-block {
    display: flex;
    flex-direction: column;
    align-items: center;
    opacity: 0;

    transition: opacity 0.5s linear 2s;
  }
  .video-start[appeared] &__text-block{
    opacity: 1;
  }

  // .video-start__text
  &__text {
    margin-bottom: 44px;
    font-family: 'General Sans';
    font-weight: 400;
    font-size: 32px;
    line-height: 43px;
    @include mq(1024){
      font-size: 24px;
      line-height: 32px;
    };
    @include mq(600){
      font-size: 18px;
      line-height: 24px;
    };
  }

  // .video-start__get-discount
  &__get-discount {
    font-family: 'General Sans';
    font-weight: 500;
    font-size: 18px;
    line-height: 24px;
    color: rgba($color: $white, $alpha: 0.75)
  }

  // .video-start__element
  &__element {
    position: relative;
    transform: translateY(-50%);
    width: 100%;
    height: 100vh;
    object-fit: cover;
    @include mq(1024){
      height: 110vw;
    };
    transition: transform 3s linear 4s;
  }
  .video-start[appeared] &__element{
    transform: translateY(0%);
  }
}

.video-main {
  z-index: 10;

  // .video-main__element
  &__element {
    height: 100vh;
    width: 100%;
    object-fit: cover;
    display: block;
    object-position: 50% 50%;
    
    // @include mq(1024){
    //   object-position: 15% 50%;
    // };
    // @include mq(600){
    //   object-position: 40% 50%;
    // };
  }
}

.video-block {
  width: 100%;
  height: 100%;
}