@import "./vars";
@import "./fonts";
@import "./ui";
@import "./mixins";

@import "./swiper";

@import "./header";
@import "./text-blocks";
@import "./slider";
@import "./footer";

body {
  background: $dark-gradient;
  overflow-x: hidden;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
ul, li{
  list-style: none;
}
.gold{
  color: $gold;
}
.video-block{
  width: 100%;
  height: 100%;
  video {
    height: 100vh;
    width: 100%;
    object-fit: cover;
    display: block;
  }
}
.video-start{
  z-index: 11;
}
.video-main{
  z-index: 10;
}

.trigger {
  width: 0;
  height: 0;
  position: absolute;
}

.fade-in{
  position: fixed;
  z-index: 10000;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  opacity: 1;
  transition: opacity 3s;
  background: $black;
  pointer-events: none;
  &[active]{
    opacity: 0;
  }
}