@import "./vars";
@import "./fonts";
@import "./ui";
@import "./mixins";

@import "./swiper";

@import "./text-blocks";

@import "./header";
@import "./video-blocks";
@import "./about";
@import "./slider";
@import "./footer";
@import "./intro-get-discount";
@import "./privacy-policy";

body {
  background: $dark-gradient;
  overflow-x: hidden;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

ul,
li {
  list-style: none;
}

.gold {
  color: $gold;
}

.triggers {
  position: relative;
}

.trigger {
  position: absolute;
  // width: 100px;
  // height: 100px;
  // background: green;
  // z-index: 10000;
}

.fade-in {
  position: fixed;
  z-index: 10000;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  opacity: 1;
  transition: opacity 3s;
  background: $black;
  pointer-events: none;

  &[active] {
    opacity: 0;
  }
}